
section {
  max-width: 40rem;
  margin: 3rem auto;
}

ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

.job-item {
  margin: 1rem 0;
  background-color: #350490;
  padding: 2rem;
  color: white;
  border-radius: 4px;
}

.job-summary {
  display: flex;
  align-items: flex-start;
}

.job-details h3 {
  color: inherit;
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-size: 2rem;
}

.job-actions {
  margin-top: 1.5rem;
  text-align: right;
}

.job-actions .btn {
  background-color: #cb82fb;
  border-color: #cb82fb;
  color: #350490;
  padding: 0.75rem 2rem;
}

.job-actions .btn:hover {
  background-color: #ba82fb;
  border-color: #ba82fb;
}