
section {
  max-width: 40rem;
  margin: 3rem auto;
}

ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

.candidate-item {
  margin: 1rem 0;
  background-color: #350490;
  padding: 2rem;
  color: white;
  border-radius: 4px;
}

.candidate-summary {
  display: flex;
  align-items: flex-start;
}

.candidate-details h3 {
  color: inherit;
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-size: 2rem;
}


.candidate-skills h3 {
  color: inherit;
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-size: 2rem;
}

