{% extends 'candidate_matcher/base/base.html' %}

{% load static %}

{% block title %}All Matched Candidates{% endblock %}

{% block site_css %}
  <link rel="stylesheet" href="{% static 'candidate_matcher/styles/all-matched-candidates.css' %}">
{% endblock %}

{% if candidates_found %}
{% block main_heading %}
We found the following candidates for your position!
{% endblock %}

{% block header_content %}
<p>Find the one that best suits your needs!</p>
{% endblock %}
  {% block body %}
    <section>
      <h2>Matched Candidates</h2>
      <ol>
        {% for candidate_item in candidates %}
          {% include 'candidate_matcher/includes/candidate-item.html' with title=candidate_item.title skills=candidate_item.skills.all %}
        {% endfor %}
      </ol>
    </section>
  {% endblock %}
{% else %}
<p> No Candidates were found for this position </p>
<p> However new candidates are joining our platform every day </p>
<p> Please try again soon! </p>
{% endif %}