{% extends 'candidate_matcher/base/base.html' %}

{% load static %}

{% block title %}All Jobs{% endblock %}

{% block site_css %}
  <link rel="stylesheet" href="{% static 'candidate_matcher/styles/all-jobs.css' %}">
{% endblock %}

{% block main_heading %}
We got great candidates!
{% endblock %}

{% block header_content %}
<p>Find the one that best suits your needs!</p>
{% endblock %}

{% block body %}
<section>
  <h2>Jobs</h2>
  <ol>
    {% for job_item in jobs %}
      {% include 'candidate_matcher/includes/job-item.html' with title=job_item.title skill=job_item.skill slug=job_item.slug %}
    {% endfor %}
  </ol>
</section>
{% endblock %}
