<li class="candidate-item">
  <article>
    <div class="candidate-summary">
      <div class="candidate-details">
        <h3>Candidate title: {{ title }}</h3>
      </div>
    </div>
    <div class="candidate-skills">
      <h4> candidate skills are: </h4>
      <ol>
        {% for skill in skills %}
          {% include 'candidate_matcher/includes/skill-item.html' with name=skill.skill_name %}
        {% endfor %}
      </ol>
    </div>
  </article>
</li>