<li class="job-item">
  <article>
    <div class="job-summary">
      <div class="job-details">
        <h3>{{ title }}</h3>
        <h4>{{ skill }}</h4>
      </div>
    </div>
    <div class="job-actions">
      <a href="{% url 'job-detail' slug %}" class="btn">Find matched candidates</a>
    </div>
  </article>
</li>